#app{
  text-align: center;
  padding: 100px;
}
table{
  display: inline-block;
}
.cell{
  position: relative;
  border: solid 2px #000;
  height: 10vmin;
  width: 10vmin;
  font-size: 6vmin;
  background: darkgreen;
}
.white{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 50%;
}
.black{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  background: #000;
  border-radius: 50%;
}
p{
  margin: 5px;
}
#text{
  margin: 15px;
}